@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");

.main {
  width: 97%;
  height: 3rem;
  margin-top: 2rem;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left h1 {
  font-family: "Black Han Sans", sans-serif;
  color: #cdd0d6;
  font-size: 1.5rem;
}

.left img {
  aspect-ratio: 1/1;
  width: 2.4rem;
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.search input {
  border: none;
  background: none;
  border-radius: 10px;
  width: 100%;
  height: 33px;
  color: #787f8c;
  outline: none;
}

.branding {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 1rem;
  cursor: pointer;
}

.search {
  background-color: #1c2536;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 1rem 0rem 1rem;
  width: 15rem;
}

.searchButton {
  background: none;
  border: none;
  cursor: pointer;
}

.searchButton img {
  aspect-ratio: 1/1;
  width: 1.1rem;
}

.navLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.navLinks img {
  cursor: pointer;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.right p {
  color: #b6bfd0;
  font-size: 0.9rem;
}

@media (max-width: 869px) {
  .right p {
    display: none;
  }

  .search input {
    display: none;
  }

  .search {
    width: auto;
  }

  .left {
    margin-left: 1.5rem;
  }
}

@media (max-width: 425px) {
  .left {
    margin-left: 2.2rem;
  }
}
